<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrics Data</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px 12px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
</head>

<body>
    <h1>Metrics Recent Log</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Accuracy</th>
                <th>F1 Score</th>
                <th>Created Timestamp</th>
                <th>Modified Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for row in metrics %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>